@import './theme.css';
@import './base.css';

.theme-toggle-button {
	color: var(--font-color);
	cursor: pointer;
	font-size: 20px;

	position: fixed;
	top: 20px;
	right: 20px;
}

.container {
	width: 600px;
	max-width: 600px;
	margin: 0 auto;
	padding: 50px 0px;
}

.header{
	text-align: center;
	padding: 50px 0;
	font-size: 40px;
	line-height: 1;
	font-weight: 900;
	color: var(--font-color);

	> span {
		font-family: var(--font-secondary);
		color: var(--font-color);    
	}

	span:nth-child(2) {
		color: var(--primary-color);
	}

	span:nth-child(3) {
		color: var(--secondary-color);
	}

	div {
		font-size: 16px;
	}
}

.main {
	min-width: 320px;
}

.aside {
	position: fixed;
	top: 0;
	bottom: 0;
	background: var(--bg-secondary-color);
	border-right: 1px solid var(--border-color);
	left: -700px;
	width: 400px;
	max-width:400px;
	padding: 20px;
	transition: all 0.4s ease;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, var(--gradient-color-from), var(--gradient-color-to) 50%);
		z-index: -1;
	}
}

.aside--show {
	left: 0;
}

.aside--compact {
	width: 80px;
}

.aside-wrapper {
	height: 100%;
	overflow: hidden;
}

.aside-controls {
	margin-bottom: 10px;
	display: block;
}

.aside-toggle-icon {
	width: 36px;
	color: var(--font-color);
	cursor: pointer;
	transition: all 0.3s;
	opacity: 0.2;

	&:hover {
		opacity: 1;
	}
}

.aside-input-search {
	position: relative;
	margin-bottom: 20px;
}

.aside-remove-button {
	position: relative;
	margin-top: 20px;
	width: 100%;
	background-color: var(--danger-color);
	border-color: var(--danger-color);

	svg {
		margin-right: 10px;
	}
}

.aside-content {
	overflow: auto;
	height: calc(100% - 60px - 48px - 50px);
	width: 380px;
}

/* settings */
.settings-wrapper {
	width: 100%;

	.settings-title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 30px;
		color: var(--font-color);

		text-align: center;
	}

	.settings-item {
		margin-bottom: 15px;
		color: var(--font-color);

		&:last-child {
			margin-bottom: 0;
		}
	}

	.settings-icon {
		width: 30px;
		height: 30px;
		transition: all 0.3s;
		position: absolute;
		cursor: pointer;
	}

	.settings-icon-close {
		top: 25px;
		left: 25px;
		stroke: var(--font-color);
		
		&:hover {
			stroke: var(--primary-color);
		}
	}

	.settings-icon-complete {
		top: 25px;
		right: 25px;
		fill: var(--font-color);
		
		&:hover {
			fill: var(--secondary-color);
		}
	}
}

/* timer */
.timer-wrapper {
	position: relative;
	border: 1px solid var(--border-color);
	border-top: 2px solid var(--secondary-color);
	padding: 40px;
	background-color: var(--bg-secondary-color);
	border-radius: 4px;
	transition: all 0.05s;
	transform-style: preserve-3d;
    overflow: hidden;
	transition: all 0.1s ease;

	.icon-settings {
		position: absolute;
		top: 25px;
		right: 25px;
		color: var(--font-color);
		cursor: pointer;
		transition: all 0.3s ease;

		> svg {
			width: 30px;
			height: 30px;
		}

		&:hover {
			color: var(--secondary-color);
		}
	}
}

.timer-wrapper::before {
    content: '';
    position: absolute;
    top: var(--highlight-y, 100%);
    left: var(--highlight-x, 50%);
    width: 250%;
    height: 250%;
    background: radial-gradient(ellipse, var(--gradient-color-from), var(--gradient-color-to) 40%);
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
    pointer-events: none;
	z-index: -1;
}

.timer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.timer-value {
	padding: 20px 0;
	display: flex;
}

.timer-value-block {
	display: flex;
	align-items: center;
}

.block-element {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65px;
	height: 80px;
	font-family: var(--font-secondary);
	font-weight: 900;
	font-size: 50px;
	line-height: 1;

	background-color: var(--time-block-bg-color);
	color: var(--time-block-color);
	
	padding: 5px 10px;
	border-radius: 8px;
	border: 1px solid var(--time-block-border-color);

	&:nth-child(odd) {
		margin-right: 8px;
	}
}

.block-separator {
	text-align: center;
	margin: 0 10px;

	> div {
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: var(--border-color);
		background-color: var(--font-color);

		&:first-child {
			margin-bottom: 10px;
		}
	}
}

.timer-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0px 40px 0px;

	> div {
		flex-grow: 1;
	}

	.button-start {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.button-stop {
		border-radius: 0;
	}

	.button-reset {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.form-wrapper {
	text-align: center;

	textarea {
		resize: none;
		display: block;
		max-height: 200px;
		/* border-bottom-left-radius: 0;
		border-bottom-right-radius: 0; */
	}

	.button {
		/* border-top-left-radius: 0;
		border-top-right-radius: 0; */

		background-color: var(--secondary-color);
		border: 1px solid var(--secondary-color);
		margin-top: 10px;
		width: 100%;
	}
}

/* card styles */

.card {
	position: relative;
	display: flex;
	width: 359px;
	background-color: #fff;
	background-color: var(--bg-primary-color);
	color: var(--font-color);
	border-radius: 4px;
	padding: 15px 20px 15px 10px;
	border: 1px solid var(--border-color);
	border-left: 2px solid var(--primary-color);
	align-items: center;
	margin-bottom: 10px;
	left: 0;
	cursor: pointer;

	font-size: 12px;
	line-height: 1.2;

	transition-property: transform, left;
	transition-duration: 0.2s, 0.4s;
	transition-delay: 0s, 0.2s;

	.card-icons {
		margin-right: 6px;
	}

	.icon-close, .icon-stopwatch, .icon-play {
		color: var(--light-grey-color);
		transition: all 0.4s ease;
	}

	.icon-close {
		transition: fill 0.4s ease, transform 0.4s ease;

		&:hover {
			fill: var(--font-color);
			transform: scale(1.2);
		}
	}

	.icon-stopwatch, .icon-play {
		height: 45px;
		width: 45px;
	}

	.icon-play {
		height: 40px;
		width: 40px;	
		position: absolute;
		left: 15px;
		transform: scale(0);
	}
}

.card--active {
	border: 3px solid var(--primary-color);
	padding: 13px 18px 13px 9px;

	.icon-close {
		right: 6px;
		top: 6px;
	}
}

.card--hide {
	left: -500px;
	transform: scale(0.85);
}

.card:hover {
	.icon-play {
		opacity: 100%;
		transform: scale(1);
		color: var(--primary-color);
	}
	.icon-stopwatch {
		transform: scale(0);
	}
}

.card-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.date {
		display: inline-block;
		padding: 2px 2px;
		font-family: var(--font-secondary);
		font-weight: bold;
		font-size: 13px;
		margin-bottom: 4px;
		letter-spacing: 0.5px;
	}

	.description {
		line-height: 1.4;
		padding: 2px 2px;
		border: 1px solid transparent;
		outline: none;
	}

	.time {
		display: inline-flex;
		align-items: center;
		color: var(--secondary-color);
		font-size: 16px;
		letter-spacing: 0.5px;
	
		> span {
			display: inline-block;
			/* padding: 2px 2px; */
			border: 1px solid transparent;
			outline: none;
			font-family: var(--font-secondary);
			font-weight: 900;
		}

		.icon-edit {
			height: 18px;
			width: 18px;
			margin-bottom: 3px;
			margin-left: 4px;

			&:hover {
				animation-name: shake;
				animation-duration: 1s;
			}
		}
	}
}

.edit-mode{
	border: 1px dotted var(--font-color) !important;
	border-radius: 4px;

	> * {
		color: var(--primary-color);
	}
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-body {
	background: var(--bg-secondary-color);
	color: var(--font-color);
	border-radius: 4px;
	padding: 30px 30px;
	width: 500px;
	font-size: 16px;
	position: relative;
}

.modal-title {
	font-size: 18px;
	font-weight: 700;
	padding: 10px 0;
	border-bottom: 1px solid var(--primary-color);
}

.modal-content {
	padding: 10px 0;
	font-size: 14px;

	ul {
		padding: 10px 0;
		margin-left: 20px;
	}

	li {
		margin-bottom: 5px;
	}
}

.modal-content-header {
	color: var(--secondary-color);
	font-size: 16px;
	/* font-weight: 500; */
	margin-top: 10px;
}

.modal-footer {
	margin-top: 20px;
}

@media (max-width: 991px) {
	.container {
		width: 100%;
		padding: 10px 16px 40px;
	}

	.aside-controls {
		display: none;
	}

	.aside-wrapper.d-none {
		display: block !important;
	}

	.block-element, .block-separator {
		font-size: 40px;
	}

	.header {
		font-size: 30px;
	}

	.aside {
		position: relative;
		min-width: 0px;
		max-width:100%;
		width: 100%;
		border-radius: 4px;
		border: 1px solid var(--border-color);
		margin-top: 20px;

		&::before {
			z-index: 0;
			background: linear-gradient(-90deg, var(--gradient-color-from), var(--gradient-color-to) 70%);
		}
	}

	.aside--show { left: 0; }

	.aside-content {
		overflow: auto;
		width: 100%;
	}

	.aside--hide {
		width: 100%;
	}

	.header { padding: 30px; }

	.timer-controls { padding: 0 0px 20px; }
	form { padding: 0px; }
	.card { 
		width: 100%;
	}

	.aside-remove-button { margin-top: 10px; }
}

@media (max-width: 767px) {
	.ui.steps .step .stopwatch.icon {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
	}

	.ui.steps .step .icon--absolute {
		right: 8px;
		top: 8px;
	}

	.timer-wrapper {
		padding: 20px;
	}
}

@media (max-width: 575px) {
  .container {
	padding: 10px 0px 40px;
  }

  .block-element, .block-separator {
    font-size: 30px;
  }

  .block-element {
    width: 45px;
	height: 60px;
  }

  .header {
    font-size: 30px;
  }

  .modal-body {
  	width: 300px;
  }

  .block-separator {
	margin: 0 7px;

	> div {
		width: 4px;
		height: 4px;
	}
  }
}


