@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Heavy'), local('GreycliffCF-Heavy'),
        url('GreycliffCF-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: local('Greycliff CF Medium'), local('GreycliffCF-Medium'),
        url('GreycliffCF-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


