@font-face {
    font-family: 'Calibri';
    src: url('calibri.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri2';
    src: url('calibrib.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
