body, * {
	font-family: 'calibri';
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height: initial;
}

.container {
	width: 600px;
	margin: 0 auto;
}

.header {
	text-align: center;
	padding: 50px 0;
	font-size: 70px;
	line-height: 70px;
}

.header div:first-child {
	color: #3C91E6;
	font-family: 'Kaushan Script', cursive;
}

.header div:last-child {
	font-family: 'Roboto Slab', serif;
	margin-top: -20px;
}

.main {
	min-width: 320px;
}

.aside {
	position: fixed;
	top: 0;
	bottom: 0;
	background: #1b1c1d	;
	color: rba(255, 255, 255, 0.9);
	left: -700px;
	width: 300px;
	max-width:300px;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.9);
	padding: 20px;
	transition: all 0.4s ease;
}

.aside--compact {
	width: 80px;
}

.aside-wrapper {
	height: 100%;
	overflow: hidden;
}

.d-none {
	display: none !important;
}

.aside-controls {
	margin-bottom: 10px;
	display: block;
}

.aside .angle.double.icon {
	font-size: 30px;
	line-height: 30px;
	color:rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.aside-content {
	overflow: auto;
	height: calc(100% - 60px - 48px - 50px);
	width: 300px;
}

.aside--show {
	left: 0;
}

.timer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.timer-value {
	padding: 20px 0;
	display: flex;
}

.timer-value-block {
	display: flex;
}

.block-element {
	font-size: 70px;
	line-height: 70px;
	/*background-color: rgba(27, 28, 29, 0.9);*/
	background-color: #1b1c1d;
	box-shadow: 0px 0px 1px 2px rgba(0,0,0, 1);
	text-shadow: 2px 2px 1px black;
	color: #fff;
	padding: 5px 10px;
	border-radius: 8px;
}

.block-element:nth-child(odd) {
	margin-right: 8px;	
}

.block-separator {
	font-size: 70px;
	line-height: 70px;
	margin: 0 4px;
}

.controls {
	text-align: center;
	padding: 20px 0px 40px 0px;
}

.main .ui.black.segment {
	border-top: 5px solid #3C91E6!important;
	padding: 40px
}

.ui.buttons {
	width: 100%;
}

.card {
	position: relative;
	display: flex;
	width: 260px;
	background-color: #fff;
	border-radius: 4px;
	padding: 15px 10px;
	align-items: center;
	margin-bottom: 10px;
	border-left: 5px solid rgb(216, 39, 39);
	transition: all 0.4s ease;
	left: 0;
	transition-property: transform, left;
	transition-duration: 0.2s, 0.4s;
	transition-delay: 0s, 0.2s;
}

.card--hide {
	left: -500px;
	transform: scale(0.85);
}

.card-content {
	width: 100%;
}

.card .icon--absolute {
	position: absolute;
	right: 5px;
	top: 10px;
	color: #1b1c1d;
	z-index: 2;
	cursor: pointer;
	font-size: 15px;
}

.card .stopwatch.icon {
	color: #1b1c1d;
	font-size: 40px;
	line-height: 40px;
	margin-right: 10px;
}

.card .time {
	color: #3C91E6;
	font-size: 1.2em;
	margin-bottom: 2px;
}

.card .date {
	font-weight: 900;
	font-size: 0.92em;
}

.card .description {
	font-weight: 400;
	line-height: 1.2;
}

.ui.button.button--delete {
	margin-top: 20px;
	width: 100%;
	height: 40px;
}

.ui.input.search {
	width: 100%;
	margin-bottom: 20px;
}

.ui.input.search input {
	background-color: #000;
	/*background-color: #1b1c1d;*/
	color: #fff;
}

.ui.input>input:focus {
	outline: none;
	border: 1px solid #000;
}

@media (max-width: 991px) {
  .aside-controls {
  	display: none;
  }

  .aside-wrapper.d-none {
		display: block !important;
  }

  .block-element, .block-separator, .header {
    font-size: 50px;
    line-height: 50px;
  }

  .aside {
  	position: relative;
  	min-width: 0px;
  	max-width:100%;
  	width: 100%;
  	box-shadow: none;
  	border-radius: 0 0 4px 4px;
  }

  .aside--show { left: 0; }

  .aside-content {
  	overflow: auto;
  	width: 100%;
  }

  .aside--hide {
  	width: 100%;
  }

  .container { width: 400px; }
  .header { padding: 30px; }
  .header div:last-child { margin-top: -10px; }
	.main .ui.black.segment { 
		margin: 0; 
		border-radius: 4px 4px 0 0;
		padding: 0 20px 20px;
	}

	.controls { padding: 0 20px 20px;	}
	form { padding: 0 20px;	}
	.card { 
		width: 100%;
		border-left: none;
	}
	
	.ui.button.button--delete { margin-top: 10px;	}
}

@media (max-width: 767px) {
	.ui.steps .step .stopwatch.icon {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
	}

	.ui.steps .step .icon--absolute {
		right: 8px;
		top: 8px;
	}
}

@media (max-width: 575px) {
	.block-element, .block-separator, .header {
    font-size: 40px;
    line-height: 40px;
  }
}


